<footer class="footer has-text-centered is-align-items-flex-end mt-auto">
  <p>
    <strong>© {{ now() | date(format="%Y") }} Gensokyo Eurofest</strong> - Powered by
    <a href="https://www.getzola.org">Zola</a> and
    <a href="https://bulma.io">Bulma</a>.
  </p>
  <p>
    <a href="mailto:gensokyoeurofest@gmail.com"</a>Contact</a> |
    <a href="https://twitter.com/GensokyoFest"</a>Twitter</a> |
    <a href="https://github.com/GensokyoEurofest/gensokyoeurofest.org">Source Code</a>.
  </p>
</footer>
