# On every push this script is executed
on:
  push:
    branches:
      - main
  workflow_dispatch:
  # Rebuild at 12 Midnight every day
  schedule:
    - cron: '0 0 * * *'

name: Build and deploy GH Pages
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@v0.22.1
        env:
          # Target branch
          PAGES_BRANCH: gh-pages
          # Use the automatic token
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
